body{
    background: url("../src/images/lb3/bg_body.png") repeat-x;
    background-color: #97bde1;
}
h1{
    margin: 175px 0 0 0;
    color: blue;
    font-size: 85px;
    font-family: 'Arial Black', sans-serif;
}
.intro{
    color: #33508a;
    padding-top: 30px;
}
h2::before {
    content: "";
    display: inline-block;
    background: url("../src/images/lb3/bg_h2.png") no-repeat left center;
    width: 50px; 
    height: 50px; 
    margin-right: 30px; 
    vertical-align: middle; 
}
h2{
    color: #33508a;
    border-bottom: 2px solid #f0f0f0 ;
}
p:not(:first-of-type) {
    margin-left: 90px;
}

pre{
    color: #406494;
    margin-left: 100px ;
}
.footer{
    display: flex;
    justify-content: center;
    color: blue;
    font-weight: bold;
}