body {
    background: url("../src/images/lb5/bgcontainer.jpg") repeat-y center, url("../src/images/lb5/bg.jpg");
    color: #444;
    margin: 0 auto;
}

#container {
    width: 630px;
    margin: 0 auto;
}

#header {
    background: url("../src/images/lb5/bgcontent.gif")  no-repeat;
    color: #FFC;
}

a {
    text-decoration: none;
    font-size: 20px;
}

.top-nav {
    padding: 10px 0 60px 0;
    display: flex;
    justify-content: center;
}

.top-nav a {
    margin: 0 20px;
    color: #6C7151;
}

.top-nav a:hover {
    color: #2C3111;
}

#banner {
    background: url("../src/images/lb5/header.jpg") no-repeat;
    height: 232px;
}

.header-line {
    background: url("../src/images/lb5/header_line.gif");
    height: 12px;
}

#banner h1 {
    margin: 0;
    padding: 60px 0 0 90px;
}

#banner p {
    padding: 30px 0 0 80px;
}

#content {
    background: url("../src/images/lb5/bgcontent.gif") no-repeat;
    padding: 35px 50px;
}

.content-block .title {
    color: #445044;
}

.title::first-letter {
    font-size: 60px;
    float: left;
    padding-top: 5px;
}

.title {
    font-family: 'Times New Roman', serif;
    font-size: 36px;
}

.date {
    font-size: 14px;
}

.content-body img {
    float: left;
    border: 1px dashed #6C7151;
    margin: 0 10px 10px;
}

.content-body p {
    margin: 10px 0;
}

.content-line {
    background: url("../src/images/lb5/content_line.gif");
    height: 18px;
    margin-top: 25px;
}

#footer {
    display: flex;
    justify-content: center;
    background: url("../src/images/lb5/bgfooter.gif") no-repeat;
    height: 40px;
}
