* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

body {
    background-color: lightskyblue;
}

/* Стиль контейнера чата */
.chat-bot-container {
    position: fixed;
    right: 15px;
    bottom: 35px;
}

/* Стиль кнопки для открытия/закрытия чата */
.chat_bot-toggle {
    height: 50px;
    width: 50px;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #fff;
    background-color: rgb(226, 43, 171);
    cursor: pointer;
    position: fixed;
    right: 15px;
    bottom: 35px;
    transition: transform 0.4s ease;
}

.chat_bot-toggle span {
    position: absolute;
    transition: opacity 0.3s;
}

/* По умолчанию показывается значок чата */
.chat_bot-toggle span.close {
    opacity: 0;
}

/* Скрытый чекбокс */
#chat-toggle:checked ~ .chat_bot-toggle span.open {
    opacity: 0;
}

#chat-toggle:checked ~ .chat_bot-toggle span.close {
    opacity: 1;
}

/* Стиль самого чата */
.chat_bot {
    position: fixed;
    background-color: #fff;
    width: 420px;
    transform: scale(0);
    opacity: 0;
    pointer-events: none;
    right: 15px;
    bottom: 100px;
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.4s ease, opacity 0.3s;
}

/* Появление чата при нажатии на чекбокс */
#chat-toggle:checked ~ .chat_bot {
    transform: scale(1);
    opacity: 1;
    pointer-events: auto;
}

.chat_bot header {
    background-color: rgb(226, 43, 171);
    text-align: center;
    padding: 15px 0;
}

.chat_bot header h2 {
    color: #fff;
    font-size: 20px;
}

.chat_bot .chatbox {
    height: 500px;
    overflow-y: auto;
    padding: 25px 30px 70px;
}

.chatbox .chat {
    display: flex;
}

.chatbox .incoming span {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 32px;
    margin: 0 10px 8px 0;
    align-self: flex-end;
    background-color: rgb(226, 43, 171);
}

.chatbox .chat p {
    color: #fff;
    font-size: 15px;
    background-color: rgb(226, 43, 171);
    padding: 10px 15px;
    border-radius: 10px 10px 0 10px;
}

.chatbox .incoming p {
    color: #000;
    background-color: #f2f2f2;
}

.chatbox .outgoing {
    margin: 20px 0px;
    justify-content: flex-end;
}

.chat_bot .chat-input {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    gap: 5px;
    border-top: 1px solid #ccc;
    background-color: #fff;
}

.chat-input textarea {
    border: none;
    outline: none;
    resize: none;
    height: 60px;
    width: 100%;
    font-size: 15px;
    padding: 16px 15px 16px 0;
}

.chat-input span {
    align-self: flex-end;
    height: 60px;
    line-height: 60px;
    color: rgb(226, 43, 171);
    font-size: 20px;
    cursor: pointer;
    visibility: hidden;
}

.chat-input textarea:valid ~ span {
    visibility: visible;
}
